.content.contact {
  padding: 5rem 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.content.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: all 0.3s;
}

input:focus, textarea:focus {
  border-color: #4facfe;
  outline: none;
}

button {
  padding: 1rem;
  background: #3a3d3f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: #81898a;
}

/* Dark mode */
.App.dark input, .App.dark textarea {
  background-color: #1e1e1e;
  color: #eee;
  border: 1px solid #555;
}

.App.dark button {
  background-color: #2f3939;
  color: #fff;
}
